<% var data = {
    title: "Snake",

  };
%>
<%= _.template(require('./../includes/header.html').default)(data) %>

<canvas id="game" width="608" height="608"></canvas>
<button class="left"> LEFT </button>
<button class="right"> RIGHT </button>
<button class="up"> UP </button>
<button class="down"> DOWN </button>
<div class="control">
  <span>Controll : ASWD or ←↑↓→ </span>
</div>
<!-- <div class="again">
  <img src="./img/reload.svg" alt="">
</div> -->

<%= _.template(require('./../includes/footer.html').default)(data) %>